$dark-green: #0a322b;
$light-green: #70a37f;
$dark-blue: #41658a;
$light-blue: #b2ddf7;
$pink: #eee5e9;
$green-score: #6c3;
$yellow-score: #fc3;
$red-score: #f00;
$gray-score: #666;
$white: #ffffff;
$black: #000000;

$rmd-theme-light: true;
$rmd-theme-primary: $dark-blue;
$rmd-theme-secondary: $light-blue;
$rmd-theme-light-background: $pink;
$rmd-theme-dark-background: $dark-blue;
$rmd-theme-surface: $light-blue;
$rmd-card-background-color: $light-blue;
$rmd-card-color: $pink;
$rmd-card-secondary-color: $black;
